.body-text{
    margin-top: 4rem;

    flex-basis: 23%;

    font-family: Maison Neue;
    font-size: 2.3rem;
    line-height: 1em;
}

div.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    grid-gap: 6rem;
}

div.main > div{
    flex-grow: 0;
}

#big {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div#flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 3em;

    font-family: 'Maison Neue';
}

div#flex > div {
    flex-basis: calc(50% - 3em);
    flex-grow: 1;
    grid-gap: 2rem;

    font-size: 1.5rem;

    line-height: 1em;
}

.support {
    margin: 0;
}
