div.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-bottom: 2px solid grey;

    font-size: 3.3rem;
    line-height: 1.2em;
    font-family: 'Maison Neue';
}

div.header > * {
    padding: 2rem;
}

div#buyBlack {
    background: black;
    color: white;
}

div.header p {
    margin: 0;
}

>>> div.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    grid-gap: 2rem;
    margin-top: 4rem;
}

div.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    grid-gap: 5%;
}

.body-text{
    margin-top: 4rem;

    flex-basis: 21%;

    font-family: 'Maison Neue';
    font-size: 2.3rem;
    line-height: 1em;
}

div.main > div{
    flex-shrink: 1;
}


/* Switch transitions */
.switch-enter-active, .switch-leave-active {
    transition: opacity .5s;
}

.switch-enter, .switch-leave-to {
    opacity: 0;
}
/* END Switch transitions */


.creator-name{
    width: 2%;
    height: 42px;

    top: 3%;
    left: 6%;

    font-family: Maison Neue;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.sex-sells{
    width: 100%;
    height: 62px;
    left: 6%;
    top: 16%;

    font-family: Maison Neue;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
}

.art-material{
    width: 325px;
    height: 179px;
    left: 6%;
    top: 30%;
    
    font-family: Maison Neue;
    font-size: 1.3rem;
    line-height: 1em;
}

.rectangle-three-inside-two{
width: 24.5%;
height: 18.4%;
left: 67%;
top: 72%;

background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;
}

.nft-owner{
width: 2%;
height: 43px;
left: 6%;
top: 18%;

font-family: Maison Neue;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 17px;

color: #000000;

}
.minter{
width: 98px;
height: 43px;
left: 30%;
top: 18%;

font-family: Maison Neue;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #000000;
}

.time-of-mint{
width: 118px;
height: 43px;
left: 55%;
top: 18%;

font-family: Maison Neue;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #000000;
}

.artist-list{
height: 102px;
left: 6%;
top: 110%;

font-family: GT Sectra Fine;
font-style: normal;
font-weight: normal;
font-size: 38px;
line-height: 46px;
display: flex;
align-items: center;

color: #000000;
}

.the-well{
    font-family: GT Sectra Fine;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
}
