div.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-bottom: 2px solid grey;

    font-size: 2.3rem;
    line-height: 1.2em;
    font-family: 'Maison Neue';

    margin-bottom: 4rem;
}

div.header > * {
    padding: 2rem;
}

div#buyBlack {
    background: black;
    color: white;
}

div.header p {
    margin: 0;
}

>>> div.buttons {
    display: flex;
    flex-wrap: wrap;

    grid-gap: 2rem;
    margin-top: 4rem;
}

.show-me-culture{
    background: #000000;
    border-color: #000000;
    color: white;
    font-family: Maison Neue;
    font-style: normal;
    font-weight: bold;

}

div.main {
    display: flex;
    justify-content: center;

    grid-gap: 5%;
}

.body-text{
    margin-top: 4rem;

    flex-basis: 21%;

    font-family: 'Maison Neue';
    font-size: 3vw;
    line-height: 1em;
}

div.main > div{
    flex-shrink: 1;
    flex-grow: 1;
}

>>> #nft-embed {
    flex: 75% 0.5 1;
    max-width: 100%;
}

div.partition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Animations and Transitions */
.hide#thisis, .hide#thisis span.arrow {
    opacity: 0;
}
p#thisis {
    opacity: 1;
    transition: opacity 1s;
}
#arrow1 {
    transition: opacity 1s 0.5s;
}
#arrow2 {
    transition: opacity 0.5s 1s;
}

.header-enter-from {
    transform: translateX(100%);
}
.header-enter-active {
    transition: transform 1s !important;
    transition-delay: 1.2s !important;
}
.manifest-enter-active .indicator.arrow-center {
    animation: fadein 1s;
}

p.arrow-center {
    text-align: center;
}
p.indicator.arrow-center {
    animation: bounce 1s ease-out infinite;
}
#nft h1 {
    opacity: 0;
}

.hide {
    opacity: 0;
}

#header {
    transition: top 2s;
}
.manifesto-leave-active, .manifesto-enter-active,
.nft-leave-active, .nft-enter-active {
    transition: transform 2s;
}

#header {
    position: absolute;
}
#header.scrollUp {
    top: 0 !important;
}
#header.fix {
    top: 0;
    left: 0;
    right: 0;
}

.manifesto-leave-to,
.manifesto-enter-from {
    transform: translateY(-100%);
}
.nft-enter-from, .nft-leave-to {
    transform: translateY(100%);
}
.nft-enter-to .header {
    opacity: 0;
}

.manifesto-leave-from, .manifesto-enter-to,
.nft-enter-to, .nft-leave-from {
    transform: translateY(0);
}
/*
*/
/* END Switch transitions */

.creator-name{
    width: 2%;
    height: 42px;

    top: 3%;
    left: 6%;

    font-family: Maison Neue;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}
