@media screen and (min-width: 1401px) {
    .body-text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    div.header {
        font-size: 5vw;
    }
}

@media screen and (max-width: 800px) {
    div.main {
        flex-wrap: wrap;
        grid-gap: 5rem;

        position: relative;

        padding-bottom: 2rem;
    }

    div.buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 724px) {
    .body-text {
        margin-top: 2rem;
        font-size: 2rem;
    }

}

@media screen and (max-width: 670px) {
    div.header > * {
        padding: 1rem;
    }
}
