@media screen and (min-width: 1200px) {
    .culturemedia {
        font-size: 8rem;
    }
}

@media screen and (max-width: 700px) {
    .rideForYou {
        font-size: 13vw;
    }

    footer {
        display: block;

        margin-top: 5rem;
        border-top: 2px solid grey;
    }

    footer .the-well {
        display: none;
    }

    footer nav a {
        font-size: 7vw;
    }
}

@media screen and (max-width: 420px) {
    h1.culture-media {
        font-size: 8.5vw;;
    }
}
