body, html, div, p {
    box-sizing: border-box;
}

body{
    color: #000000;
    overflow-x: hidden; 

    font-family: GT Sectra Fine;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1280px;
}

h1.culture-media{
    font-size: 9vw;
    text-align: center;
}

.rideForYou {
    font-size: 7rem;
    font-style: italic;
    line-height: 1em;
}

.culturemedia {
    text-transform: uppercase;
    font-size: 9rem;
}

div.buttons {
    display: flex;
    grid-gap: 2rem;
    margin-top: 4rem;
}

footer {
    align-self: flex-end;
    margin-top: 5vh;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > nav {
    display: flex;
    justify-content: space-between;

    grid-gap: 2em;
}

footer > nav a {
    color: #000000;
    
    font-size: 3rem;
    line-height: 1.2em;
}
