body{
    color: #000000;
    overflow-x: hidden; 

    font-family: GT Sectra Fine;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1280px;
}

h1.culture-media{
    margin-top: 3rem;
    font-size: 9vw;

    text-align: center;
}

div.buttons {
    display: flex;
    grid-gap: 2rem;
    margin-top: 4rem;
}

footer {
    margin-top: 5vh;

    display: flex;
    justify-content: space-between;
}

footer > nav {
    display: flex;
    justify-content: space-between;

    grid-gap: 2em;
}

footer > nav a {
    color: #000000;
    
    font-size: 3rem;
    line-height: 1.2em;
}
