body, html, div, p {
    box-sizing: border-box;
}

body{
    color: #000000;
    overflow-x: hidden; 

    font-family: GT Sectra Fine;
    font-style: normal;
    font-weight: normal;
}

nav a.router-link-exact-active {
    font-weight: bold;
}

.container {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* LINKS */
a:hover {
    color: #D90E0E;
}
/* ---- LINKS --------- */

h1.culture-media{
    padding-top: 3rem;
    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
}

.rideForYou {
    font-size: 6rem;
    font-style: italic;
    line-height: 1em;
}
